/* цвета */
$color-primary-01: #ebf3ff;
$color-primary-02: #d6e8ff;
$color-primary-03: #85baff;
$color-primary-04: #4797ff;
$color-primary-05: #006eff;
$color-primary-06: #0052bd;
$color-primary-07: #0052bd;
$color-primary-08: #00285c;
$color-primary-09: #001229;

$color-red-01: #feedec;
$color-red-02: #fcc8c5;
$color-red-03: #f8928b;
$color-red-04: #f55b51;
$color-red-05: #f11c0e;
$color-red-06: #b2140a;
$color-red-07: #8c1008;
$color-red-08: #570a05;
$color-red-09: #270402;

$color-black-01: #f5f5f5;
$color-black-02: #e0e0e0;
$color-black-03: #c2c2c2;
$color-black-04: #a3a3a3;
$color-black-05: #7f7f7f;
$color-black-06: #5e5e5e;
$color-black-07: #4a4a4a;
$color-black-08: #2e2e2e;
$color-black-09: #141414;

/* скругления */
$border-radius-primary: 2px;
$border-radius-secondary: 6px;

/* размеры шрифта*/
$size-text-64: 64px;
$size-text-48: 48px;
$size-text-32: 32px;
$size-text-28: 28px;
$size-text-24: 24px;
$size-text-16: 16px;
$size-text-14: 14px;
$size-text-12: 12px;

/* тени */
$drop-shadow-01: 0px 4px 4px 0px #00000040;
$drop-shadow-02: 0px 2px 2px 0px #00000040;
$drop-shadow-03: 4px 4px 4px 0px #00000040;
$drop-shadow-04: 0px 5px 5px 0px #0000000f;
