/* цвета */
$color-primary: #445EBD;
$color-secondary-red: #E32E22;

$color-checkbox-border: #7F82C9;

$color-bg-secondary: #D9D9D9;
$color-bg-inputs: #DEDEDE;
$color-bg-primary: #FFFFFF;

$color-pagination-active: #398AEA;

$color-text-primary: #000000;
$color-text-secondary: #393939;
$color-text-placeID: #52D5FF;

$color-frame-button: #E2F3F5;
$color-frame-button-hover: #C5E3F6;

$color-options-selector: #F9F9F9;
$color-options-disables-selector: #E3E3E3;
$color-options-active-selector: #1DA1F2;


/* скругления */
$border-radius-primary: 2px;
$border-radius-secondary: 6px;

/* размеры шрифта*/
$sixe-text-headline: 16px;
$size-text-primary: 14px;
$size-text-secondary: 12px;