@reference "tailwindcss";

.tableWrapper {
  --row-table-child2-bg: #d9d9d926;
  --pagination-bg-color: #398aea;
  --pagination-border-color: #dedede;
}

.tableWrapper :global(.ant-pagination .ant-pagination-item) {
  @apply border-none bg-[var(--pagination-bg-color)] text-[#393939] bg-[var(--row-table-child2-bg)];
}

.tableWrapper :global(.ant-pagination .ant-pagination-item-active a) {
  @apply text-white;
}

.tableWrapper :global(.ant-pagination .ant-pagination-item) {
  @apply bg-white border border-[var(--pagination-border-color)];
}

.tableWrapper :global(.ant-pagination .ant-pagination-item-active) {
  @apply rounded-none  bg-[var(--pagination-bg-color)] text-white;
}

.tableWrapper :global(.ant-pagination .ant-pagination-item:hover) {
  @apply bg-white;
}

.tableWrapper :global(.ant-pagination .ant-pagination-item a) {
  @apply border border-[var(--pagination-border-color)] inset-shadow-sm;
}

.tableWrapper :global(.ant-pagination .ant-pagination-next),
.tableWrapper :global(.ant-pagination .ant-pagination-prev) {
  @apply border border-[var(--pagination-border-color)] inset-shadow-sm rounded-none;
}

.tableWrapper :global(.ant-pagination .ant-pagination-item a:hover) {
  @apply text-[var(--pagination-bg-color)] border border-[var(--pagination-bg-color)];
}

.customTable :global(.ant-table-tbody > tr.ant-table-row:nth-child(2n)) {
  background-color: var(--row-table-child2-bg) !important;
}

.customTable :global(.ant-table) {
}

.customTable :global(.ant-table-container) {
  @apply border border-[#f0f0f0]  shadow-xl/5;
}
