@use 'tailwindcss';

.header {
  --row-table-child2-bg: #d9d9d926;
  --pagination-bg-color: #398aea;
  --pagination-border-color: #dedede;

  @apply flex items-center justify-between mb-2 md:mb-6;

  &__title {
    @apply font-semibold;
  }

  &__btn--wrapper {
    @apply flex items-center;
  }
}
